.dialogs{
    display: grid;
    grid-template-columns: 2fr  10fr;
    color: white;
}
.dialogs_items{

}
.parent{
    display: inline;
}
.dialog{
    padding: 4px;
    font-size: 22px;

}
.dialog img{

    width: 40px;
    height: 30px;
    border-radius: 50%;
}


.dialog a{
    text-decoration: none;
    color: white;
}
.dialog a:hover{
    background: #777777;
}
.dialogs_items .active{
    color: gold;
}



